/* акцент - #2196F3 */
/* основной цвет текста - #757575 */
/* дополнительный цвет текста (заголовки) - #212121 */
/* цвет лого - #000000 и #2196F3 */
/* цвет текста хиро и футер - #FFFFFF */

:root (
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --logo-black: #000000;
    --logo-white: #FFFFFF;
    --primary-bg-color: #FFFFFF;
)

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

/* logo */
.logo.main{
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.48;
        /* identical to box height */
    
        letter-spacing: 0.03em;
}
.logo.black {
    color: #000;
    font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.48;
        /* identical to box height */
    
        letter-spacing: 0.03em;
}
.logo.white {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.48;
        /* identical to box height */
    
        letter-spacing: 0.03em;
}

/* site-nav */
.site-nav .link {
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

/* contacts */
.contacts a {
    color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
    color: #2196f3;
}

/* hero */
.hero {
    background-color: #2F303A;
    color: #FFFFFF;
}

 .hero-h {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button-hero {
    background-color: #2196f3;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        /* identical to box height, or 188% */
    
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
}

.button-hero:hover,
.button-hero:focus {
    background-color: #2196f3;
        color: #FFFFFF;
        font-family: 'Roboto',sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        /* identical to box height, or 188% */
    
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
}
/* sections */
.title-hh {
    color: #212121;
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.6px;
        text-align: center;
        letter-spacing: 0.03em;
}

.title-hhh {
    color: #212121;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        /* or 171% */
    
        letter-spacing: 0.03em;
}

.p-main {
    color: #757575;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: 0.03em;
}

.our-team .title {
    color: #212121;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        /* identical to box height */
    
        text-align: center;
        letter-spacing: 0.03em;
}

.our-team .p-team {
    color: #757575;
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
    
        text-align: center;
        letter-spacing: 0.03em;
}

/* button portfolio */
.button-portfolio {
    background-color: #F5F4FA;
    color: var(--title-text-color)
}

.button-portfolio:hover,
.button-portfolio:focus {
    background-color: #2196f3;
    color: #FFFFFF;
}

.our-team {
    background-color: #F5F4FA;
}

.section .title{
    color: var(--title-text-color);
}

.title-portfolio {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 36px;
        /* identical to box height, or 200% */
    
        letter-spacing: 0.06em;
    
        color: #212121;
}

.portfolio p {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        /* identical to box height, or 188% */
    
        letter-spacing: 0.03em;
    
        color: #757575;
}
/* footer */
footer {
    background-color: #2F303A;
}

address {
    color: #FFFFFF;
}


address a {
    color: rgba(255, 255, 255, 0.6);
}
